main ul li {
    width: 30% !important;
    margin: 12px !important;

    @include media-breakpoint-down(lg) {
        width: auto !important;
    }
}

.comment {
    margin-top: 1700px !important;

    @include media-breakpoint-down(lg) {
        margin-top: 0px !important;
    }
}

.customerFeedback>div>div {
    @include media-breakpoint-down(lg) {
        width: 100% !important;
    }
}

.customerFeedback img {
    @include media-breakpoint-down(lg) {
        translate: 50%;
    }
}

.customerFeedback .container {
    top: -48px;

    @include media-breakpoint-down(lg) {
        top: 0;
    }
}