<div class="apply bg-secondaryLight">
    <div class="container mt-48 pb-120">
        <h2 class="text-center d-flex flex-wrap justify-content-center pt-120">
            <p class="w-100 p-0">陪玩師招募</p>
            <span class="border border-1 d-inline-block border-60px border-dark"></span>
        </h2>
        <div class="row col-rows-1 col-rows-lg-3 mt-48 d-flex justify-content-center flex-wrap flex-xxl-nowrap">
        </div>
    </div>
</div>
<script>
    const applyArea = document.querySelector('.apply .row');

    function getApply() {
        axios.get(`${Url}${apply}`).then((res) => {
            let data = res.data;
            let template = data.map(item =>
                `
            <div class="card col-auto mt-24 mx-0 mx-lg-24 p-12">
                <div class="card-body position-relative text-center">
                    <img src="${item.imgUrl}" alt="tips" class="img-fluid mt-24 mt-lg-32">
                </div>
                <div
                    class="card-title position-absolute start-50 top-0 rounded-5 py-8 px-24 bg-secondaryLight border border-1 border-gray translate-middle shadow">
                    ${item.title}
                </div>
                <p class="position-absolute top-50 start-50 translate-middle fs-4 text-white">${item.bodyContent}</p>
                <div class="card-footer border-top-0 text-center bg-white mt-12 fs-5">
                    <p>${item.footContent}</p>
                </div>
            </div>
            `
            ).join('');
            applyArea.innerHTML = template;
        })
    }
    getApply();
</script>