<div class="apply bg-secondaryLight">
    <div class="container mt-48 pb-48">
        <h2 class="text-center d-flex flex-wrap justify-content-center pt-120">
            <p class="w-100 p-0">陪玩師招募</p>
            <span class="border border-1 d-inline-block border-60px border-dark"></span>
        </h2>
</div>