<!-- web -->
<div
  id="carouselWeb"
  class="carousel slide carousel-fade d-none d-lg-block"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators mb-32">
    <button
      type="button"
      data-bs-target="#carouselWeb"
      data-bs-slide-to="0"
      class="active border border-0 rounded-5 btn-carouselWeb"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselWeb"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class="border border-0 rounded-5 btn-carouselWeb ms-12 me-8"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselWeb"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class="border border-0 rounded-5 btn-carouselWeb ms-8 me-12"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselWeb"
      data-bs-slide-to="3"
      aria-label="Slide 4"
      class="border border-0 rounded-5 btn-carouselWeb"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3500">
      <img
        src="images/web/banner/Banner01.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner1"
      />
      <div class="carousel-caption d-none d-md-block mb-240">
        <h5 class="text-white fs-48">愛交友，自由配</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4500">
      <img
        src="images/web/banner/Banner02.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner2"
      />
      <div class="carousel-caption d-none d-md-block mb-240">
        <h5 class="text-white fs-48">專屬你的多元可能</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4500">
      <img
        src="images/web/banner/Banner03.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner3"
      />
      <div class="carousel-caption d-none d-md-block mb-220">
        <h5 class="text-white fs-48">客製化行程？</h5>
        <p class="text-white fs-48 mt-16">聊一聊，都可以</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4500">
      <img
        src="images/web/banner/Banner04.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner4"
        style="background-position: center bottom"
      />
      <div class="carousel-caption d-none d-md-block mb-240">
        <h5 class="text-white fs-48">實現你的接案自由</h5>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselWeb"
    data-bs-slide="prev"
  >
    <span
      class="material-icons text-gray1 rounded-5 bg-gray6 p-16"
      aria-hidden="true"
    >
      chevron_left
    </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselWeb"
    data-bs-slide="next"
  >
    <span
      class="material-icons text-gray1 rounded-5 bg-gray6 p-16"
      aria-hidden="true"
    >
      chevron_right
    </span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- mobile -->
<div
  id="carouselMobile"
  class="carousel slide carousel-fade d-block d-lg-none"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators mb-24">
    <button
      type="button"
      data-bs-target="#carouselMobile"
      data-bs-slide-to="0"
      class="active btn-carouselMob me-4 border border-0 rounded-5"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselMobile"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class="mx-4 btn-carouselMob border border-0 rounded-5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselMobile"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class="btn-carouselMob mx-4 border border-0 rounded-5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselMobile"
      data-bs-slide-to="3"
      aria-label="Slide 4"
      class="btn-carouselMob ms-4 border border-0 rounded-5"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4500">
      <img
        src="images/mobile/banner/Banner01.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner1"
      />
      <div class="carousel-caption mb-140">
        <h5 class="text-white fs-24 fw-bold">愛交友，自由配</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4500">
      <img
        src="images/mobile/banner/Banner02.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner2"
      />
      <div class="carousel-caption mb-140">
        <h5 class="text-white fs-24 fw-bold">專屬你的多元可能</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4500">
      <img
        src="images/mobile/banner/Banner03.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner3"
      />
      <div class="carousel-caption mb-120">
        <h5 class="text-white fs-24 fw-bold">客製化行程？</h5>
        <p class="text-white fs-24 mt-8">聊一聊，都可以</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4500">
      <img
        src="images/mobile/banner/Banner04.png"
        class="d-block w-100 fit-cover"
        height="800"
        alt="banner4"
        style="background-position: center bottom"
      />
      <div class="carousel-caption mb-140">
        <h5 class="text-white fs-2 fw-bold">實現你的接案自由</h5>
      </div>
    </div>
  </div>
</div>
