<div class="container-fluid d-flex justify-content-center">
  <nav class="container m-0 p-0 w-100 mt-12">
    <ul class="list-unstyled d-flex justify-content-between mx-12 w-100">
      <li class="d-flex align-items-center">
        <a href="index.html" class="brand">
          <h1 class="m-0">i-pay</h1>
          <a href="#" class="d-block me-auto ms-12"><img src="images/logo/Logo.png" alt="logo" class="my-lg-7 my-6"
              width="105" height="29" /></a>
        </a>
      </li>
      <li class="mx-auto d-none d-lg-flex justify-content-center w-100">
        <a href="#" class="hover p-lg-12 me-lg-12">條件找陪玩</a>
        <a href="#" class="hover p-lg-12 me-lg-12">地圖找陪玩</a>
        <a href="#" class="hover p-lg-12 me-lg-12">快速上手</a>
        <a href="#" class="hover p-lg-12 me-lg-12">招募訊息</a>
      </li>
      <li class="d-none d-lg-flex">
        <a href="#" class="hover w-100 ms-auto"><span class="material-icons p-lg-12 ms-lg-12"> shopping_cart
          </span></a>
        <a href="#" class="hover"><span class="material-icons p-lg-12 ms-lg-12"> person </span></a>
      </li>
      <li class="d-block d-lg-none">
        <button class="p-8 border-0 bgNone" type="button">
          <span class="material-icons p-8 ms-auto">menu
          </span>
        </button>
      </li>
    </ul>
  </nav>
</div>

<script>
  const navButton = document.querySelector('nav button');

  navButton.addEventListener('click', (e) => {
    e.preventDefault();
    if (navContent) {
      navContent.classList.toggle('d-block');
    }
  });

  const bgNone = document.querySelector('.bgNone span');
  bgNone.addEventListener('click', () => {
    if (bgNone.innerText === 'menu') {
      bgNone.innerText = 'close';

    } else if (bgNone.innerText === 'close') {
      bgNone.innerText = 'menu';

    }
  })
</script>