<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i_pay</title>
    <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function () {
            var mf = document.createElement("script");
            mf.type = "text/javascript"; mf.defer = true;
            mf.src = "//cdn.mouseflow.com/projects/bf8e44df-97da-48c4-9f36-6e9c1500327c.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>
    <link rel="stylesheet" href="./scss/all.scss">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
        integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const localUrl = "http://localhost:3000/";
        const Url = "https://new-i-pay.onrender.com/";
        const cards = "cards/";
        const comments = "comments/";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
    <%- include('./ejs/nav') -%>
        <%- include('./ejs/banner') -%>
            <%- include('./ejs/main') -%>

                <script>
                    $(document).ready(function () {
                        $(".carousel-indicators .btn-carouselWeb:first-child").addClass(
                            "btn-carouselWebActive"
                        );

                        $("#carouselWeb").on("slide.bs.carousel", function (event) {
                            $(".carousel-indicators .btn-carouselWeb").removeClass(
                                "btn-carouselWebActive"
                            );
                            $(
                                '.carousel-indicators .btn-carouselWeb[data-bs-slide-to="' +
                                event.to +
                                '"]'
                            ).addClass("btn-carouselWebActive");
                        });

                        $(".carousel-indicators .btn-carouselMob:first-child").addClass(
                            "btn-carouselMobActive"
                        );

                        $("#carouselMobile").on("slide.bs.carousel", function (event) {
                            $(".carousel-indicators .btn-carouselMob").removeClass(
                                "btn-carouselMobActive"
                            );
                            $(
                                '.carousel-indicators .btn-carouselMob[data-bs-slide-to="' +
                                event.to +
                                '"]'
                            ).addClass("btn-carouselMobActive");
                        });
                    });


                </script>
                <script type="module" src="js/main.js"></script>

</body>

</html>